<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="HomeworkSuite" parallel="classes" thread-count="2">
    <test name="HomeworkTests">
        <classes>
            <class name="tests.tests.FormTests"/>
            <class name="tests.tests.AlertTests"/>
        </classes>
    </test>
</suite>
